# Database Configuration
DATABASE_URL="postgresql://user:password@localhost:5432/fintrack?schema=public"

# NextAuth Configuration
NEXTAUTH_SECRET="dsafgsd8f6sad9f7sd9f6sd987f68sdaf6sd8f6sd"
NEXTAUTH_URL="http://localhost:3000"